# Django
*.log
*.pyc
__pycache__
db.sqlite3
media 

# Python
*.py[cod]
*$py.class

# Visual Studio Code
.history
.vscode
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 

# OSX
.DS_Store

# Misc
.coverage
celerybeat-schedule
datasets
make_env.sh
