# Django API Instance Secret Key (Required)
export SECRET_KEY=""

# E-Mail Configuration (Optional)
# export EMAIL_HOST=""
# export EMAIL_HOST_USER=""
# export EMAIL_HOST_PASSWORD=""

# General (Optional)
# export DEBUG=True
# export ALLOWED_HOSTS="example_one,example_two"