{% extends "base.html" %}

{% block meta_url %}http://carbonfriendly.earth/404.html{% endblock %}
{% block meta_title %}Carbon Friendly - 500{% endblock %}
{% block title %}Carbon Friendly - 500{% endblock %}

{% block inner_body %}
    <div style="height: 96%; text-align:center; display:table; width: 100%;">
        <h1 class="headline">Server Error</h1>
        <div style="display: table-row;">
            Click <a href="javascript:history.back()">here</a> to go back.
        </div>
    </div>
{% endblock %}
