{% extends "base.html" %}

{% block inner_body %}
    <div style="height: 96%; text-align:center; display:table; width: 100%;">
        <h1 class="headline">How can <font style="text-decoration: underline; text-decoration-color: white;">you</font> help fight the climate crisis?</h1>
        <div class="small-headline">
            <br>
            <a href="#donate-section"><img height=50 width=50 src="static/buttons/scroll_down_gradient.gif"></a>
        </div>
    </div>
    
    <div class="subsection subsection-top" id="donate-section">
        <h3 class="subheader">Donate</h3>
        <hr>
        <span class="medium-font">
            The direct action we take to improve the health of the planet does not always offset all of the emissions we are responsible for.  
            Many environmental projects exist that will help reduce our emissions further.  
            Whether you're saving the world with kelp or pressuring lawmakers to do the right thing there are always more ways to help.
            Projects like these need our support!  
            Please read about the projects below and consider supporting their missions.
        </span>
        <br>
        <br>
        <div class="gcontainer">
            {% for subgroup in donate.values %}
            <div class="mtable">
                <div class="table-header">{{ subgroup.name }}</div>
                <div class="data-cell">
                    {% for resource in subgroup.resources %}
                        {% if not forloop.first %}
                        <br>
                        {% endif %}
                        <img src="static/icons/{{ resource.icon }}" width=14 height=14> <a href="{{ resource.url }}" title="{{ resource.name }}: {{ resource.description}} ({{ resource.tags | join:', ' }})">{{ resource.name }}</a>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="subsection subsection-middle" id="debunk-section">
        <h3 class="subheader">Educate</h3>
        <hr>
        <span class="medium-font">
            Sharing the science the right way can go a long way.  
            The more we know about this crisis the better we can fight it.  
            These resources help educate us on what we know and more importantly what we can do.  
            Once we understand the science and psychology of this crisis we'll know how to fight it.  
        </span>
        <br>
        <br>
        <div class="gcontainer">
            {% for subgroup in educate.values %}
            <div class="mtable">
                <div class="table-header">{{ subgroup.name }}</div>
                <div class="data-cell">
                    {% for resource in subgroup.resources %}
                        {% if not forloop.first %}
                        <br>
                        {% endif %}
                        <img src="static/icons/{{ resource.icon }}" width=14 height=14> <a href="{{ resource.url }}" title="{{ resource.name }}: {{ resource.description}} ({{ resource.tags | join:', ' }})">{{ resource.name }}</a>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="subsection subsection-bottom" id="direct-action-section">
        <h3 class="subheader">Act</h3>
        <hr>
        <span class="medium-font">
            We all need to take responsibility and improve our behavior.  
            There are many short-term and long-term actions that can make a difference!
            The ways we eat, spend, travel, work, and build can all be improved.
            How we choose to spend our time can create powerful change, improve the health of the planet, and save lives.
        </span>
        <br>
        <br>
        <div class="gcontainer">
            {% for subgroup in act.values %}
            <div class="mtable">
                <div class="table-header">{{ subgroup.name }}</div>
                <div class="data-cell">
                    {% for resource in subgroup.resources %}
                        {% if not forloop.first %}
                        <br>
                        {% endif %}
                        <img src="static/icons/{{ resource.icon }}" width=14 height=14> <a href="{{ resource.url }}" title="{{ resource.name }}: {{ resource.description}} ({{ resource.tags | join:', ' }})">{{ resource.name }}</a>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}